#header{height: 10%;background-color: red;}
#menu{height: 50%;width: 60%;background-color: blue;}
#main{height: 10%;}
#content{width:60%;height: 100%;background-color: green;float: left;}

#footer{height: 10%;background-color: darkgreen}
#ad{width:20%;height: 100%;background-color: lightgreen;float: right;}



html,body{height: 100%;}
